body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  margin: 0%;
  height: fit-content;
  z-index: 100;
}
.navbar-title {
 height: fit-content;
  display: block;
  top: 0;
  margin: 0%;
  width: 100vw;

  position: absolute;
  left: 0;
}
.navbar-title h1 {
  color: white;
  padding: 1rem;
 margin: 0;
}

 