.user_post{
    display: flex;
 
    flex-wrap: wrap;
   
}

.post_container{
 
    margin: 1rem 0.5rem 0.5rem 0.5rem;
    padding: 0.5rem;
  
 
    padding: 1rem;
} 

.post_Container :hover{
    box-shadow: 10px 10px 10px rgb(146, 142, 142);
    
}

.post-img{
    height:fit-content;
    
   
}

.discription_of_img{ 
    display: flex;
    flex-direction: column;

}
.discription_of_img :hover{
    box-shadow: none;
}
.likes{
    padding: 0.25rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
   
    background: white;
    margin: 1rem 0 0 0;
}

.userName{
    height: fit-content;
    margin: 0 0 0 0 ;
    display: flex;
    align-content: center;
    flex-direction: row;
    margin-top: 0.5rem;
    background: white;
    padding: 0.25rem;
}

.owner{
    flex: 1;
    font-weight: 600;

}

.date{
    font-size: 1.5vh;
    margin: 0.5vh 0 0 0;

    align-self:stretch
}

.icon-cancel{
    position: fixed;
    overflow-y: auto;
    z-index: 100;
   bottom: 80%;
    right:2%;
    animation: myAnimation 0.2s ease-in-out ;
    color: #f4f3f4;
   height: 1.5rem;
}
.comment{
    position: fixed;
    overflow-y: auto;
    z-index: 99;
    right:0;
    bottom:0;
    animation: myAnimation 0.2s ease-in-out ;
    
 }
 .header{
    background: #a320d6;
    color: white;
    padding: 0.5rem;
    font-weight: 600;
    border-top-left-radius: 15px;
   padding-left: 1rem;
   
 }

 @keyframes myAnimation {
    0% {
      right :-29vw;
    }
    25% {
        right :-21vw;
      }
    50% {
        right :-15vw;
    }
    75% {
        right :-7vw;
    }
    100% {
        right :0;
    }
  }
 .all_comments{
    background: #f5f5f6;
    height: 70vh;
    width: 40vw;

 }

 .comment-input{
    background: #f1ebeb;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
 }
.comment-input input{
    padding: .25rem;
    width: 33vw;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   padding-left: 0.75rem;
   font-size: 0.8rem;
}

.icon-send {
    color: rgb(66, 64, 64);
    height: 2rem;
    width: 1.3rem;
    background: white;
    border-top-right-radius:15px ;
    border-bottom-right-radius: 15px ;
}



